@charset "UTF-8";

/* telas de tables */

/* 

Typical devices breakpoint

pequenad telas: até 600px
Cecular: de 600px até 768px
Tablets: de 768px até 992px
Destops: 992px até 1200px
grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px)
{
    html, body 
    {
        background: var(--preto) linear-gradient(to left, var(--preto) 30%, var(--laranja-intermediario));
    }
    #login {
        width: 80vw;
        height: clamp(300px, 55vh, 800px);
    }
    #login > #imagem
    {
        float: left;
        width: 30%;
        height: 100%;
    }
    #login > #formulario
    {
        float: right;
        width: 70%;
        height: 100%;
        
    }
    
    #login #formulario p 
    {
        font-size: 1em;
    }
    #formulario h1
    {
        font-size: 2em;
    }

}

@media screen and (min-width: 992px){
    html, body 
    {
        background: var(--preto) linear-gradient(to right, var(--preto) 45%, var(--laranja-intermediario));
    }
    #login
    {
        width: 800px;
        height: 355px;
    }
    
    #login  #imagem
    {
        float: right;
        width: 40%;
        height: 100%;
    }
    #login  #formulario
    {
        float: left;
        width: 60%;
        height: 100%;
    }
    #login #formulario p 
    {
        font-size: 1em;
        color: var(--laranja);
        text-align: center;
    }
    
    #formulario h1 
    {
        font-size: 2em;
    }
    
}